[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RankAggregator"]
	path = RankAggregator
	url = https://github.com/jburns88/rankaggregator
